
.logo{
    width: 234px;
    height: 70.49px;
    object-fit: cover   ;
   
    
}

.nav-link{
    background-color: transparent;
    border: none;
    cursor: pointer;
   

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1rem;
}

.nav-link:hover{
    color: #5595D0;
    
}

.login-btn{
    background-color: #5595D0;
    color: white;
    padding:.4rem .7rem;
    border-radius: 8px;
    margin-left: 1rem;
    border-radius: 1.2rem;
}

.login-btn:hover{
    color: inherit;
    background-color: #64a9e6;
}

.lang-select-flag {
    width: 30px;
}