.office-content {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.office-info{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    width: 40%;
}

.syria-flag{
    width: 35%;
}

.headOffice-container { 
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.15) 100%),url('../../assets/contactBack.jpg') ;
    background-size: cover;
    background-position: 70%;
    backdrop-filter: blur(2px);
}

@media screen and (max-width: 670px) {
    .office-content{
        flex-direction: column;
        
    }

    .office-info{
        width: 80%;
    }

    .syria-flag{
        width: 80%;
    }
}